<% @beer_profile = BeerProfile.new %>
<%= form_for(@beer_profile) do |f| %>
<div class="lg1-lg3">
	<div class="solo profile box lg-all clearfix">
		<h2>Profile</h2>
		<div>beer result 1</div>
		<div>beer result 2</div>
		<div>beer result 3</div>
		<div>beer result 4</div>
		<div>beer result 5</div>
		<div>beer result 6</div>
	</div>
	<br><br>
	<div class="bjcp-info box lg-all clearfix">
		<h2>Style Guide Placeholder</h2>
		<p>American IPAs are da fyah</p>
	</div>
</div>

<div class="journal-panel lg5-lg8">
	<h2>Journal Entry</h2>
	<h3>Journal what you thought about this beer, and if you're feeling extra frisky, graph your thoughts</h3>
	<div class="lg-all clearfix">
		
		<div class="responsive">
			<ul class="tiles">
				<li class="appearance">
					<div class="front">
						<div><span data-icon="&#xe610;" aria-hidden="true"></span>Appearance</div>
					</div>
					<div class="back">
						<div><span data-icon="&#xe610;" aria-hidden="true"></span>Rate It!</div>
					</div>
					<div class="all-content">
						 <h2>Head</h2>
						  <div class="field">
						    <h3>Size</h3>
						    <%= render partial: 'beer_profiles/radio_group', locals: {
						      f: f,
						      field: :appearance_head_size,
						      attribute: :size
						    } %>
						  </div>
						  <div class="field">
						    <h3>Texture</h3>
						    <%= render partial: 'beer_profiles/radio_group', locals: {
						      f: f,
						      field: :appearance_head_texture,
						      attribute: :texture
						    } %>
						  </div>
						  <div class="field">
						    <h3>Color</h3>
						    <%= render partial: 'beer_profiles/radio_group', locals: {
						      f: f,
						      field: :appearance_head_color,
						      attribute: :color
						    } %>
						  </div>
						  <div class="field">
						    <h3>Retention</h3>
						    <%= render partial: 'beer_profiles/radio_group', locals: {
						      f: f,
						      field: :appearance_head_retention,
						      attribute: :retention
						    } %>
						  </div>
						  <h2>Lacing</h2>
						  <div class="field">
						    <%= render partial: 'beer_profiles/radio_group', locals: {
						      f: f,
						      field: :appearance_lacing,
						      attribute: :lacing
						    } %>
						  </div>
						  <h2>Body</h2>
						  <div class="field">
						    <h3>Retention</h3>
						    <%= render partial: 'beer_profiles/radio_group', locals: {
						      f: f,
						      field: :appearance_body_opacity,
						      attribute: :opacity
						    } %>
						  </div>
						  <div class="field">
						    <h3>Carbonation</h3>
						    <%= render partial: 'beer_profiles/radio_group', locals: {
						      f: f,
						      field: :appearance_body_carbonation,
						      attribute: :body_carbonation
						    } %>
						  </div>
						  <h2>Color</h2>
						  <div class="field">
						    <%
						      color_value = @beer_profile.appearance_color || 1
						      color_attribute = BeerProfileHelper::COLOR_ATTRIBUTES[color_value]
						    %>
						    <div id="color-demo" style="width: 30px; height: 30px; background-color: #<%= color_attribute[:hex_value] %>"></div>
						    <span id="color-name"><%= color_attribute[:name] %></span>
						    <br />
						    <%= f.range_field :appearance_color, in: 1..12, value: color_value %>
						  </div>
						  <h2>Notes</h2>
						  <div class="field">
						    <%= f.text_area :appearance_notes %>
						  </div>
					</div>
				</li>

				<li class="aroma">
					<div class="front">
						<div><span data-icon="&#xe606;" aria-hidden="true"></span>Aroma</div>
					</div>
					<div class="back">
						<div><span data-icon="&#xe606;" aria-hidden="true"></span>Rate It!</div>
					</div>
					<!-- <div class="all-content">
						<h1>What is Lorem ipsum?</h1>
					</div> -->
				</li>

				<li class="taste">
					<div class="front">
						<div><span data-icon="&#xe602;" aria-hidden="true"></span>Taste</div>
					</div>
					<div class="back">
						<div><span data-icon="&#xe602;" aria-hidden="true"></span>Rate It!</div>
					</div>
					<!-- <div class="all-content">
						<h1>What is Lorem ipsum?</h1>
					</div> -->
				</li>

				<li class="mouthfeel">
					<div class="front">
						<div><span data-icon="&#xe608;" aria-hidden="true"></span>Mouthfeel</div>
					</div>
					<div class="back">
						<div><span data-icon="&#xe608;" aria-hidden="true"></span>Rate It!</div>
					</div>
					<!-- <div class="all-content">
						<h1>What is Lorem ipsum?</h1>
					</div> -->
				</li>

				<li class="flavor-chart">
					<div class="front">
						<div><span data-icon="&#xe60f;" aria-hidden="true"></span>Flavor-Chart</div>
					</div>
					<div class="back">
						<div><span data-icon="&#xe60f;" aria-hidden="true"></span>Rate It!</div>
					</div>
					<!-- <div class="all-content">
						<h1>What is Lorem ipsum?</h1>
					</div> -->
				</li>
			</ul>
		</div>
	</div>
</div>
<% end %>

<script>
$('.all-content').hide();

var bgColor;
var effect = 'animated bounceIn'; /* bounceIn, bounceInUp, bounceInDown, bounceInLeft,
										 bounceInRight, rotateIn, rotateInUpLeft, rotateInDownLeft,
										 rotateInUpRight, rotateInDownRight  */

$('.tiles li').click(function(){
	$('.front, .back').hide();
	$('.tiles li').removeClass('active').hide().css('border','none');
	$(this).addClass('active').show();
	bgColor = $('.active .back').css('background-color');
	$('.tiles').css('background-color',bgColor);
	$('.close, .all-content').show();
	$('.responsive').append('<span class="close">save &amp; continue</span>').addClass(effect);
});


$('.responsive').on('click', '.close', function(){

	$('.close').remove();
	bgColor = $('.active .front').css('background-color');
	$('.responsive').removeClass(effect);
	$('.all-content').hide();
	$('.tiles li').removeClass('active').show().css({ 'border-bottom':'none',
													    'border-left':'none' });
	$('.front, .back').show();
	$('.tiles').css('background-color',bgColor);
});
</script>
