<% unless @json.nil? %>
  <ul>
    <% @json['response']['beers']['items'].each do |item| %>
      <li class="beer-choice">
        <img src="<%= item['beer']['beer_label'] %>" />
        <%= item['brewery']['brewery_name'] %>
        <%= item['beer']['beer_name'] %>
        <%= form_for @beer do |f| %>
          <%= f.hidden_field :name, :value => item['beer']['beer_name'] %>
          <%= f.hidden_field :style, :value => item['beer']['beer_style']%>
          <%= f.hidden_field :brewery, :value => item['brewery']['brewery_name'] %>
          <%= f.hidden_field :abv, :value => item['beer']['beer_abv'] %>
          <%= f.hidden_field :image_path, :value => item['beer']['beer_label'] %>
        <% end %>
      </li>
    <% end %>
    <li class="beer-choice">
      <div>Not found? Input a custom beer.</div>
      <%= form_for @beer do |f| %>
        <%= f.text_field :name, :value => params['q'] %>
      <% end %>
    </li>
  </ul>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.beer-choice').click(function(){
      $(this).find('form').submit()
    })
  })
</script>
