<% if @json.nil? %>
  <%= render partial: 'initial_search' %>
<% else %>
  <%= render partial: 'search_again' %>
<% end %>

<% unless @json.nil? %>

  <ul class="search-results box clearfix lg-all">
	  <h2>Search Results</h2>
    <% @json['response']['beers']['items'].each do |item| %>
      <li class="beer-choice beer-options <%= cycle 'lg1-lg4 md-all sm-all', 'lg5-lg8 md-all sm-all' %>">
        <img src="<%= item['beer']['beer_label'] %>" />
		    <div class="beer-brewery-names">
		      <h3><%= item['beer']['beer_name'] %></h3>
          	  <h4><%= item['brewery']['brewery_name'] %></h4>
		    </div>
        <%= form_for @beer do |f| %>
          <%= f.hidden_field :name, :value => item['beer']['beer_name'] %>
          <%= f.hidden_field :style, :value => item['beer']['beer_style']%>
          <%= f.hidden_field :brewery, :value => item['brewery']['brewery_name'] %>
          <%= f.hidden_field :abv, :value => item['beer']['beer_abv'] %>
          <%= f.hidden_field :image_path, :value => item['beer']['beer_label'] %>
        <% end %>
      </li>
    <% end %>
    <div class="clearfix"></div>
    <li class="beer-choice beer-options">
      <div class="beer-brewery-names beer-help">
		    <h3>Can't find your beer?</h3>
        	<h4>Add <%= params['q'] %> to the system.</h4>
      </div>
      <%= form_for @beer do |f| %>
        <%= f.hidden_field :name, :value => params['q'] %>
      <% end %>
    </li>
  </ul>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.beer-choice').click(function(){
      $(this).find('form').submit()
    })
  })
</script>
