<% if @json.nil? %>
  <%= render partial: 'initial_search' %>
<% else %>
  <%= render partial: 'search_again' %>
<% end %>

<% unless @json.nil? %>

  <div class="search-results box clearfix">
      <h2>Search Results</h2>
      <div class="results-container">
      <% @json['response']['beers']['items'].each do |item| %>
      <div class="individual-result">
        <img src="<%= item['beer']['beer_label'] %>" />
		    <div class="producer">
		      <h3><%= item['beer']['beer_name'] %></h3>
          	  <h4><%= item['brewery']['brewery_name'] %></h4>
		    </div>
        <%= form_for @beer do |f| %>
          <%= f.hidden_field :name, :value => item['beer']['beer_name'] %>
          <%= f.hidden_field :style, :value => item['beer']['beer_style']%>
          <%= f.hidden_field :brewery, :value => item['brewery']['brewery_name'] %>
          <%= f.hidden_field :abv, :value => item['beer']['beer_abv'] %>
          <%= f.hidden_field :image_path, :value => item['beer']['beer_label'] %>
        <% end %>
      </div>
    <% end %>
    <div class="clearfix"></div>
    <div>
      <div class="producer help">
		    <h3>Can't find your beer?</h3>
        	<h4>Add <%= params['q'] %> to your journal.</h4>
      </div>
      <%= form_for @beer do |f| %>
        <%= f.hidden_field :name, :value => params['q'] %>
      <% end %>
    </div>
</div>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.individual-result').click(function(){
      $(this).find('form').submit()
    })
  })
</script>
