<p id="notice"><%= notice %></p>

<p>
  <strong>Appearance head size:</strong>
  <%= @beer_profile.appearance_head_size %>
</p>

<p>
  <strong>Appearance head texture:</strong>
  <%= @beer_profile.appearance_head_texture %>
</p>

<p>
  <strong>Appearance head color:</strong>
  <%= @beer_profile.appearance_head_color %>
</p>

<p>
  <strong>Appearance head retention:</strong>
  <%= @beer_profile.appearance_head_retention %>
</p>

<p>
  <strong>Appearance lacing:</strong>
  <%= @beer_profile.appearance_lacing %>
</p>

<p>
  <strong>Appearance body opacity:</strong>
  <%= @beer_profile.appearance_body_opacity %>
</p>

<p>
  <strong>Appearance body carbonation:</strong>
  <%= @beer_profile.appearance_body_carbonation %>
</p>

<p>
  <strong>Appearance color:</strong>
  <%= @beer_profile.appearance_color %>
</p>

<p>
  <strong>Appearance notes:</strong>
  <%= @beer_profile.appearance_notes %>
</p>

<p>
  <strong>Aroma malt:</strong>
  <%= @beer_profile.aroma_malt %>
</p>

<p>
  <strong>Aroma hops:</strong>
  <%= @beer_profile.aroma_hops %>
</p>

<p>
  <strong>Aroma esters:</strong>
  <%= @beer_profile.aroma_esters %>
</p>

<p>
  <strong>Aroma phenols:</strong>
  <%= @beer_profile.aroma_phenols %>
</p>

<p>
  <strong>Aroma bitterness:</strong>
  <%= @beer_profile.aroma_bitterness %>
</p>

<p>
  <strong>Aroma flavor grain:</strong>
  <%= @beer_profile.aroma_flavor_grain %>
</p>

<p>
  <strong>Aroma flavor hops:</strong>
  <%= @beer_profile.aroma_flavor_hops %>
</p>

<p>
  <strong>Aroma flavor fruit:</strong>
  <%= @beer_profile.aroma_flavor_fruit %>
</p>

<p>
  <strong>Aroma flavor herbs:</strong>
  <%= @beer_profile.aroma_flavor_herbs %>
</p>

<p>
  <strong>Aroma flavor funk:</strong>
  <%= @beer_profile.aroma_flavor_funk %>
</p>

<p>
  <strong>Aroma flavor mineral:</strong>
  <%= @beer_profile.aroma_flavor_mineral %>
</p>

<p>
  <strong>Aroma flavor other:</strong>
  <%= @beer_profile.aroma_flavor_other %>
</p>

<p>
  <strong>Aroma notes:</strong>
  <%= @beer_profile.aroma_notes %>
</p>

<p>
  <strong>Taste malt:</strong>
  <%= @beer_profile.taste_malt %>
</p>

<p>
  <strong>Taste hops:</strong>
  <%= @beer_profile.taste_hops %>
</p>

<p>
  <strong>Taste esters:</strong>
  <%= @beer_profile.taste_esters %>
</p>

<p>
  <strong>Taste phenols:</strong>
  <%= @beer_profile.taste_phenols %>
</p>

<p>
  <strong>Taste bitterness:</strong>
  <%= @beer_profile.taste_bitterness %>
</p>

<p>
  <strong>Taste flavor grain:</strong>
  <%= @beer_profile.taste_flavor_grain %>
</p>

<p>
  <strong>Taste flavor hops:</strong>
  <%= @beer_profile.taste_flavor_hops %>
</p>

<p>
  <strong>Taste flavor fruit:</strong>
  <%= @beer_profile.taste_flavor_fruit %>
</p>

<p>
  <strong>Taste flavor herbs:</strong>
  <%= @beer_profile.taste_flavor_herbs %>
</p>

<p>
  <strong>Taste flavor funk:</strong>
  <%= @beer_profile.taste_flavor_funk %>
</p>

<p>
  <strong>Taste flavor mineral:</strong>
  <%= @beer_profile.taste_flavor_mineral %>
</p>

<p>
  <strong>Taste flavor other:</strong>
  <%= @beer_profile.taste_flavor_other %>
</p>

<p>
  <strong>Taste notes:</strong>
  <%= @beer_profile.taste_notes %>
</p>

<p>
  <strong>Mouth body:</strong>
  <%= @beer_profile.mouth_body %>
</p>

<p>
  <strong>Mouth carbonation:</strong>
  <%= @beer_profile.mouth_carbonation %>
</p>

<p>
  <strong>Mouth alcohol:</strong>
  <%= @beer_profile.mouth_alcohol %>
</p>

<p>
  <strong>Mouth richness:</strong>
  <%= @beer_profile.mouth_richness %>
</p>

<p>
  <strong>Mouth astringency:</strong>
  <%= @beer_profile.mouth_astringency %>
</p>

<p>
  <strong>Mouth finish:</strong>
  <%= @beer_profile.mouth_finish %>
</p>

<p>
  <strong>Mouth notes:</strong>
  <%= @beer_profile.mouth_notes %>
</p>

<p>
  <strong>Flavor esthers:</strong>
  <%= @beer_profile.flavor_esthers %>
</p>

<p>
  <strong>Flavor alcoholic:</strong>
  <%= @beer_profile.flavor_alcoholic %>
</p>

<p>
  <strong>Flavor citrus:</strong>
  <%= @beer_profile.flavor_citrus %>
</p>

<p>
  <strong>Flavor hoppy:</strong>
  <%= @beer_profile.flavor_hoppy %>
</p>

<p>
  <strong>Flavor floral:</strong>
  <%= @beer_profile.flavor_floral %>
</p>

<p>
  <strong>Flavor spicy:</strong>
  <%= @beer_profile.flavor_spicy %>
</p>

<p>
  <strong>Flavor malty:</strong>
  <%= @beer_profile.flavor_malty %>
</p>

<p>
  <strong>Flavor toffee:</strong>
  <%= @beer_profile.flavor_toffee %>
</p>

<p>
  <strong>Flavor burnt:</strong>
  <%= @beer_profile.flavor_burnt %>
</p>

<p>
  <strong>Flavor sweet:</strong>
  <%= @beer_profile.flavor_sweet %>
</p>

<p>
  <strong>Flavor sour:</strong>
  <%= @beer_profile.flavor_sour %>
</p>

<p>
  <strong>Flavor bitter:</strong>
  <%= @beer_profile.flavor_bitter %>
</p>

<p>
  <strong>Flavor astringent:</strong>
  <%= @beer_profile.flavor_astringent %>
</p>

<p>
  <strong>Flavor full bodied:</strong>
  <%= @beer_profile.flavor_full_bodied %>
</p>

<p>
  <strong>Flavor lingers:</strong>
  <%= @beer_profile.flavor_lingers %>
</p>

<%= link_to 'Edit', edit_beer_profile_path(@beer_profile) %> |
<%= link_to 'Back', beer_profiles_path %>
