<p id="notice"><%= notice %></p>

<img src="<%= @beer_profile.image_path %>" />

<p>
  <strong>Name</strong>
  <%= @beer_profile.name %>
</p>
<p>
  <strong>Style</strong>
  <%= @beer_profile.style %>
</p>
<p>
  <strong>Brewery</strong>
  <%= @beer_profile.brewery %>
</p>
<p>
  <strong>ABV</strong>
  <%= @beer_profile.abv %>
</p>

<p>
  <strong>Appearance head size:</strong>
  <%= @beer_profile.appearance_head_size %>
</p>

<p>
  <strong>Appearance head texture:</strong>
  <%= @beer_profile.appearance_head_texture %>
</p>

<p>
  <strong>Appearance head color:</strong>
  <%= @beer_profile.appearance_head_color %>
</p>

<p>
  <strong>Appearance head retention:</strong>
  <%= @beer_profile.appearance_head_retention %>
</p>

<p>
  <strong>Appearance lacing:</strong>
  <%= @beer_profile.appearance_lacing %>
</p>

<p>
  <strong>Appearance body opacity:</strong>
  <%= @beer_profile.appearance_body_opacity %>
</p>

<p>
  <strong>Appearance body carbonation:</strong>
  <%= @beer_profile.appearance_body_carbonation %>
</p>

<p>
  <strong>Appearance color:</strong>
  <%= @beer_profile.appearance_color %>
</p>

<p>
  <strong>Appearance notes:</strong>
  <%= @beer_profile.appearance_notes %>
</p>

<p>
  <strong>Aroma malt:</strong>
  <%= @beer_profile.aroma_malt %>
</p>

<p>
  <strong>Aroma hops:</strong>
  <%= @beer_profile.aroma_hops %>
</p>

<p>
  <strong>Aroma esters:</strong>
  <%= @beer_profile.aroma_esters %>
</p>

<p>
  <strong>Aroma phenols:</strong>
  <%= @beer_profile.aroma_phenols %>
</p>

<p>
  <strong>Aroma bitterness:</strong>
  <%= @beer_profile.aroma_bitterness %>
</p>

<p>
  <strong>Aroma flavor grain:</strong>
  <%= @beer_profile.aroma_flavor_grain %>
</p>

<p>
  <strong>Aroma flavor hops:</strong>
  <%= @beer_profile.aroma_flavor_hops %>
</p>

<p>
  <strong>Aroma flavor fruit:</strong>
  <%= @beer_profile.aroma_flavor_fruit %>
</p>

<p>
  <strong>Aroma flavor herbs:</strong>
  <%= @beer_profile.aroma_flavor_herbs %>
</p>

<p>
  <strong>Aroma flavor funk:</strong>
  <%= @beer_profile.aroma_flavor_funk %>
</p>

<p>
  <strong>Aroma flavor mineral:</strong>
  <%= @beer_profile.aroma_flavor_mineral %>
</p>

<p>
  <strong>Aroma flavor other:</strong>
  <%= @beer_profile.aroma_flavor_other %>
</p>

<p>
  <strong>Aroma notes:</strong>
  <%= @beer_profile.aroma_notes %>
</p>

<p>
  <strong>Taste malt:</strong>
  <%= @beer_profile.taste_malt %>
</p>

<p>
  <strong>Taste hops:</strong>
  <%= @beer_profile.taste_hops %>
</p>

<p>
  <strong>Taste esters:</strong>
  <%= @beer_profile.taste_esters %>
</p>

<p>
  <strong>Taste phenols:</strong>
  <%= @beer_profile.taste_phenols %>
</p>

<p>
  <strong>Taste bitterness:</strong>
  <%= @beer_profile.taste_bitterness %>
</p>

<p>
  <strong>Taste flavor grain:</strong>
  <%= @beer_profile.taste_flavor_grain %>
</p>

<p>
  <strong>Taste flavor hops:</strong>
  <%= @beer_profile.taste_flavor_hops %>
</p>

<p>
  <strong>Taste flavor fruit:</strong>
  <%= @beer_profile.taste_flavor_fruit %>
</p>

<p>
  <strong>Taste flavor herbs:</strong>
  <%= @beer_profile.taste_flavor_herbs %>
</p>

<p>
  <strong>Taste flavor funk:</strong>
  <%= @beer_profile.taste_flavor_funk %>
</p>

<p>
  <strong>Taste flavor mineral:</strong>
  <%= @beer_profile.taste_flavor_mineral %>
</p>

<p>
  <strong>Taste flavor other:</strong>
  <%= @beer_profile.taste_flavor_other %>
</p>

<p>
  <strong>Taste notes:</strong>
  <%= @beer_profile.taste_notes %>
</p>

<p>
  <strong>Mouth body:</strong>
  <%= @beer_profile.mouth_body %>
</p>

<p>
  <strong>Mouth carbonation:</strong>
  <%= @beer_profile.mouth_carbonation %>
</p>

<p>
  <strong>Mouth alcohol:</strong>
  <%= @beer_profile.mouth_alcohol %>
</p>

<p>
  <strong>Mouth richness:</strong>
  <%= @beer_profile.mouth_richness %>
</p>

<p>
  <strong>Mouth astringency:</strong>
  <%= @beer_profile.mouth_astringency %>
</p>

<p>
  <strong>Mouth finish:</strong>
  <%= @beer_profile.mouth_finish %>
</p>

<p>
  <strong>Mouth notes:</strong>
  <%= @beer_profile.mouth_notes %>
</p>

<canvas id="flavor-wheel" width="400" height="400"></canvas>

<script type="text/javascript">
  $(function(){
    chart_context = document.getElementById('flavor-wheel').getContext('2d');
    chart_data = {
      labels : ["Esters", "Alcoholic", "Citrus", "Hoppy", "Floral", "Spicy", "Malty", "Toffee", "Burnt", "Sweet", "Sour", "Bitter", "Astringent", "Full-Bodied", "Lingers"],
      datasets : [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          data : <%= @beer_profile.flavors.to_s %>
        }
      ]
    }

    flavor_wheel = new Chart(chart_context).Radar(chart_data);
  })
</script>

<%= link_to 'Edit', edit_beer_profile_path(@beer_profile) %> |
<%= link_to 'Back', beer_profiles_path %>
