<p id="notice"><%= notice %></p>
<h1>A Selected Entry From My Beer Journal</h1>
<div id="result" class="journal-entry-single">
  <div class="box beer-type-profile lg1-lg4 md1-md2 sm-all">
    <h2>Profile</h2>

    <div class="secondary-section logo-name">
      <img src="<%= @beer_profile.image_path %>" />
      <h1><%= @beer_profile.name %></h1>
      <h4><%= @beer_profile.brewery %></h4>
    </div>
    <div class="secondary-section">
      <h3>Style</h3>
      <%= @beer_profile.style %>
    </div>
    <div class="secondary-section">

    </div>
    <div class="secondary-section">
      <h3>ABV</h3>
      <%= @beer_profile.abv %>%
    </div>
    <div class="secondary-section">
      <h3>Rating</h3>
      <%= @beer_profile.rating %>
    </div>
    <div class="secondary-section">
      <h3>Notes</h3>
      <%= @beer_profile.notes %>
    </div>
  </div>

  <div class="box lg5-lg8 md3-md4 sm-all">
    <h2>Flavor Chart</h2>
    <div class="dac">
      <canvas id="flavor-wheel" width="400" height="400"></canvas>
    </div>
  </div>

  <div class="box lg1-lg4 md1-md2 sm-all">
    <h2>Apperance</h2>
    <% unless appearance_head_blank? %>
      <div class="secondary-section">
        <h3>Head</h3>
        <% unless @beer_profile.appearance_head_size.blank? %>
          <div class="tertiary-section">
            <h4>size</h4>
            <%= @beer_profile.appearance_head_size %>
          </div>
        <% end %>

        <% unless @beer_profile.appearance_head_texture.blank? %>
          <div class="tertiary-section">
            <h4>texture</h4>
            <%= @beer_profile.appearance_head_texture %>
          </div>
        <% end %>

        <% unless @beer_profile.appearance_head_color.blank? %>
          <div class="tertiary-section">
            <h4>color</h4>
            <%= @beer_profile.appearance_head_color %>
          </div>
        <% end %>

        <% unless @beer_profile.appearance_head_retention.blank? %>
          <div class="tertiary-section">
            <h4>retention</h4>
            <%= @beer_profile.appearance_head_retention %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% unless @beer_profile.appearance_lacing.blank? %>
      <div class="secondary-section">
        <h3>lacing</h3>
        <%= @beer_profile.appearance_lacing %>
      </div>
    <% end %>

    <% unless appearance_body_blank? %>
      <div class="secondary-section">
        <h3>Body</h3>
        <% unless @beer_profile.appearance_body_opacity.blank? %>
          <div class="tertiary-section">
            <h4>opacity</h4>
            <%= @beer_profile.appearance_body_opacity %>
          </div>
        <% end %>

        <% unless @beer_profile.appearance_body_carbonation.blank? %>
          <div class="tertiary-section">
            <h4>carbonation</h4>
            <%= @beer_profile.appearance_body_carbonation %>
          </div>
        <% end %>

        <% unless @beer_profile.appearance_color.blank? %>
          <div class="tertiary-section">
            <h4>color</h4>
            <%= BeerProfileHelper::COLOR_ATTRIBUTES[@beer_profile.appearance_color][:name] %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% unless @beer_profile.appearance_notes.blank? %>
      <div class="secondary-section">
        <h3>notes</h3>
        <%= @beer_profile.appearance_notes %>
      </div>
    <% end %>

    <% if appearance_blank? %>
      No thoughts? Tell us how your heart feels.
    <% end %>
  </div>


  <div class="box lg5-lg8 md3-md4 sm-all">
  <h2>Aroma</h2>
    <% unless @beer_profile.aroma_malt.blank? %>
      <div class="secondary-section">
        <h3>malt</h3>
        <%= @beer_profile.aroma_malt %>
      </div>
    <% end %>

    <% unless @beer_profile.aroma_hops.blank? %>
      <div class="secondary-section">
        <h3>hops</h3>
        <%= @beer_profile.aroma_hops %>
      </div>
    <% end %>

    <% unless @beer_profile.aroma_esters.blank? %>
      <div class="secondary-section">
        <h3>esters</h3>
        <%= @beer_profile.aroma_esters %>
      </div>
    <% end %>

    <% unless @beer_profile.aroma_phenols.blank? %>
      <div class="secondary-section">
        <h3>phenols</h3>
        <%= @beer_profile.aroma_phenols %>
      </div>
    <% end %>

    <% unless @beer_profile.aroma_bitterness.blank? %>
      <div class="secondary-section">
        <h3>bitterness</h3>
        <%= @beer_profile.aroma_bitterness %>
      </div>
    <% end %>

    <% unless aroma_flavor_section_blank? %>
      <div class="secondary-section">
        <h3>Flavor</h3>
        <% unless @beer_profile.aroma_flavor_grain.blank? %>
          <div class="tertiary-section">
            <h4>grain</h4>
            <%= @beer_profile.aroma_flavor_grain %>
          </div>
        <% end %>

        <% unless @beer_profile.aroma_flavor_hops.blank? %>
          <div class="tertiary-section">
            <h4>hops</h4>
            <%= @beer_profile.aroma_flavor_hops %>
          </div>
        <% end %>

        <% unless @beer_profile.aroma_flavor_fruit.blank? %>
          <div class="tertiary-section">
            <h4>fruit</h4>
            <%= @beer_profile.aroma_flavor_fruit %>
          </div>
        <% end %>

        <% unless @beer_profile.aroma_flavor_herbs.blank? %>
          <div class="tertiary-section">
            <h4>herbs</h4>
            <%= @beer_profile.aroma_flavor_herbs %>
          </div>
        <% end %>

        <% unless @beer_profile.aroma_flavor_funk.blank? %>
          <div class="tertiary-section">
            <h4>funk</h4>
            <%= @beer_profile.aroma_flavor_funk %>
          </div>
        <% end %>

        <% unless @beer_profile.aroma_flavor_mineral.blank? %>
          <div class="tertiary-section">
            <h4>mineral</h4>
            <%= @beer_profile.aroma_flavor_mineral %>
          </div>
        <% end %>

        <% unless @beer_profile.aroma_flavor_other.blank? %>
          <div class="tertiary-section">
            <h4>other</h4>
            <%= @beer_profile.aroma_flavor_other %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% unless @beer_profile.aroma_notes.blank? %>
      <div class="secondary-section">
        <h3>Notes</h3>
        <strong>notes</strong>
        <%= @beer_profile.aroma_notes %>
      </div>
    <% end %>

    <% if aroma_section_blank? %>
      No thoughts? Tell us how your heart feels.
    <% end %>
  </div>

  <div class="box lg1-lg4 md1-md2 sm-all">
    <h2>Taste</h2>
    <% unless @beer_profile.taste_malt.blank? %>
      <div class="secondary-section">
        <h3>malt</h3>
        <%= @beer_profile.taste_malt %>
      </div>
    <% end %>

    <% unless @beer_profile.taste_hops.blank? %>
      <div class="secondary-section">
        <h3>hops</h3>
        <%= @beer_profile.taste_hops %>
      </div>
    <% end %>

    <% unless @beer_profile.taste_esters.blank? %>
      <div class="secondary-section">
        <h3>esters</h3>
        <%= @beer_profile.taste_esters %>
      </div>
    <% end %>

    <% unless @beer_profile.taste_phenols.blank? %>
      <div class="secondary-section">
        <h3>phenols</h3>
        <%= @beer_profile.taste_phenols %>
      </div>
    <% end %>

    <% unless @beer_profile.taste_bitterness.blank? %>
      <div class="secondary-section">
        <h3>bitterness</h3>
        <%= @beer_profile.taste_bitterness %>
      </div>
    <% end %>

    <div class="secondary-section">
      <% unless taste_flavor_section_blank? %>?
        <h3>Flavor</h3>
        <% unless @beer_profile.taste_flavor_grain.blank? %>
          <div class="tertiary-section">
            <h4>grain</h4>
            <%= @beer_profile.taste_flavor_grain %>
          </div>
        <% end %>

        <% unless @beer_profile.taste_flavor_hops.blank? %>
          <div class="tertiary-section">
            <h4>hops</h4>
            <%= @beer_profile.taste_flavor_hops %>
          </div>
        <% end %>

        <% unless @beer_profile.taste_flavor_fruit.blank? %>
          <div class="tertiary-section">
            <h4>fruit</h4>
            <%= @beer_profile.taste_flavor_fruit %>
          </div>
        <% end %>

        <% unless @beer_profile.taste_flavor_herbs.blank? %>
          <div class="tertiary-section">
            <h4>herbs</h4>
            <%= @beer_profile.taste_flavor_herbs %>
          </div>
        <% end %>

        <% unless @beer_profile.taste_flavor_funk.blank? %>
          <div class="tertiary-section">
            <h4>funk</h4>
            <%= @beer_profile.taste_flavor_funk %>
          </div>
        <% end %>

        <% unless @beer_profile.taste_flavor_mineral.blank? %>
          <div class="tertiary-section">
            <h4>mineral</h4>
            <%= @beer_profile.taste_flavor_mineral %>
          </div>
        <% end %>

        <% unless @beer_profile.taste_flavor_other.blank? %>
          <div class="tertiary-section">
            <h4>other</h4>
            <%= @beer_profile.taste_flavor_other %>
          </div>
        <% end %>
      <% end %>
      <% if taste_section_blank? %>
        No thoughts?  Tell us how your heart feels.
      <% end %>
   </div>

    <% unless @beer_profile.taste_notes.blank? %>
      <div class="secondary-section">
        <h3>Notes</h3>
        <strong>notes</strong>
        <%= @beer_profile.taste_notes %>
      </div>
    <% end %>
  </div>

  <div class="box lg5-lg8 md3-md4 sm-all">
    <h2>Mouthfeel</h2>
    <% unless @beer_profile.mouth_body.blank? %>
      <div class="secondary-section">
        <h3>body</h3>
        <%= @beer_profile.mouth_body %>
      </div>
    <% end %>

    <% unless @beer_profile.mouth_carbonation.blank? %>
      <div class="secondary-section">
        <h3>carbonation</h3>
        <%= @beer_profile.mouth_carbonation %>
      </div>
    <% end %>

    <% unless @beer_profile.mouth_alcohol.blank? %>
      <div class="secondary-section">
        <h3>alcohol</h3>
        <%= @beer_profile.mouth_alcohol %>
      </div>
    <% end %>

    <% unless @beer_profile.mouth_richness.blank? %>
      <div class="secondary-section">
        <h3>richness</h3>
        <%= @beer_profile.mouth_richness %>
      </div>
    <% end %>

    <% unless @beer_profile.mouth_astringency.blank? %>
      <div class="secondary-section">
        <h3>astringency</h3>
        <%= @beer_profile.mouth_astringency %>
      </div>
    <% end %>

    <% unless @beer_profile.mouth_finish.blank? %>
      <div class="secondary-section">
        <h3>finish</h3>
        <%= @beer_profile.mouth_finish %>
      </div>
    <% end %>

    <% unless @beer_profile.mouth_notes.blank? %>
      <div class="secondary-section">
        <h3>notes</h3>
        <%= @beer_profile.mouth_notes %>
      </div>
    <% end %>

    <% if mouthfeel_section_blank? %>
      No thoughts?  Tell us how your heart feels.
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    chart_context = document.getElementById('flavor-wheel').getContext('2d');
    chart_data = {
      labels : ["Esters", "Alcoholic", "Citrus", "Hoppy", "Floral", "Spicy", "Malty", "Toffee", "Burnt", "Sweet", "Sour", "Bitter", "Astringent", "Full-Bodied", "Lingers"],
      datasets : [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          data : <%= @beer_profile.flavors.to_s %>
        }
      ]
    }

    flavor_wheel = new Chart(chart_context).Radar(chart_data, {
      pointLabelFontColor: '#FFF',
      scaleLineColor: '#FFF',
      angleLineColor: '#FFF'
    });
  })
</script>

<div class="clearfix"></div>
<div class="lg-all md-all sm-all clearfix">
  <div class="lg2-lg4">
    <% if @beer_profile.user_id == current_user.id %>
      <%= link_to 'Back to My Journal', beer_profiles_path, :class => "button push-effect" %>
    <% else %>
      <%= link_to 'Back', "/beer_profiles/users/" + @beer_profile.user_id.to_s, :class => "button push-effect" %>
    <% end %>
  </div>

   <div class="lg5-lg7">
    <%= link_to 'Edit this Review', edit_beer_profile_path(@beer_profile), :class => "button push-effect" %>
  </div>

  <br><br><br><br><br><br><br><br><br><br>
</div>

