<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Beertap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
<!--Typekit-->
<script>
  (function(d) {
    var config = {
      kitId: 'qdr5knt',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
  
</head>
<body>
	<div class="header-container clearfix">
		<div class="wrapper">
		<header class="lg-all md-all sm-all clearfix">
<% unless hide_logo? %>
			<a href="/"><img class="lg1-lg2 md1 sm1" src="/images/horizontal-logo.png" alt="Beer Tap"></a>
<% end %>
			<div class="header-links lg4-lg8 md2-md4 sm-all">
			<% if user_signed_in? %>
<%= link_to followings_path do %>
				<span data-icon="&#xe619;" aria-hidden="true"></span> My Friends
<% end %>
				<a href="<%= beer_profiles_path %>"><span data-icon="&#xe618;" aria-hidden="true"></span> My Journal</a>

          <%= link_to destroy_user_session_path, :method => :delete do %>
            <span data-icon="&#xe61b;" aria-hidden="true"></span> Sign Out</a>
          <% end %>
        <% elsif !sign_in_page? %>
          <%= link_to new_user_session_path do%>
            <span data-icon="&#xe61c;" aria-hidden="true"></span> Sign In
          <% end %>
        <% end %>
      </div>
		</header>
	</div>
	</div>

<div class="wrapper clearfix">
  <div class="clearfix"></div>
	<%= yield %>
</div>

<div class="clearfix"></div>
<footer class="clearfix lg-all md-all sm-all">
</footer>

<!-- Place this before your </body> tag. -->
<script type="text/javascript">
  var rumbleBannerPlacement = "bottom";
</script>
<%= javascript_include_tag "gridset/gridset-overlay", "data-turbolinks-track" => true %>
</body>
</html>

