<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Beertap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/ytd8xnd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<div class="header-container clearfix">
		<div class="wrapper">
		<header class="lg-all md-all sm-all clearfix">
<% unless hide_logo?(params) %>
			<a href="/"><img class="lg1-lg2 md1 sm1" src="/images/horizontal-logo.png" alt="Beer Tap"></a>
<% end %>
			<div class="header-links lg4-lg8 md2-md4 sm-all">
			<% if user_signed_in? %>
<%= link_to followings_path do %>
				<span data-icon="&#xe619;" aria-hidden="true"></span> My Friends
<% end %>
				<a href="<%= beer_profiles_path %>"><span data-icon="&#xe618;" aria-hidden="true"></span> My Journal</a>

          <%= link_to destroy_user_session_path, :method => :delete do %>
            <span data-icon="&#xe61b;" aria-hidden="true"></span> Sign Out</a>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do%>
            <span data-icon="&#xe61c;" aria-hidden="true"></span> Sign In
          <% end %>
        <% end %>
      </div>
		</header>
	</div>
	</div>

<div class="wrapper clearfix">
  <div class="clearfix"></div>
	<%= yield %>
</div>

<div class="clearfix"></div>
<footer class="clearfix lg-all md-all sm-all">
</footer>

<!-- Place this before your </body> tag. -->
<script type="text/javascript">
  var rumbleBannerPlacement = "bottom";
</script>
<script src="http://s0.railsrumble.com/banner.js" type="text/javascript"></script>
<%= javascript_include_tag "gridset/gridset-overlay", "data-turbolinks-track" => true %>
</body>
</html>

